<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
    <style type="text/css">
        form div {
            height: 40px;
            line-height: 40px;
        }

        form div:nth-child(4) {
            height: auto;
        }

        form div span:first-child {
            display: inline-block;
            width: 100px;
        }
    </style>

</head>

<body>
    <div id="app">
        <form>
            <div>
                <span>姓名:</span>
                <span>
                    <input type="text" v-model="name">
                </span>
            </div>
            <div>
                <span>性别:</span>
                <span>
                    <input type="radio" id="male" v-model="sex" value="1">
                    <label for="male" >男</labe1>
                    <input type="radio" id="female" v-model="sex" value="2">
                    <label for="female">女</label>
                </span>
            </div>
            <div>
                <span>爱好:</span>
                    <input type="checkbox" id="ball" v-model="hobby" value="1">
                    <label for="ball">篮球</1abe1>
                    <input type="checkbox" id="sing" v-model="hobby" value="2">
                    <label for="sing">唱歌</label>
                    <input type="checkbox" id="code" v-model="hobby" value="3">
                    <label for="code">写代码</label>
            </div>
            <div>
                <span>职业:</span>
                <select v-model="occupation" multiple>
                    <option value="1">请选择职业...</option>
                    <option value="2">教师</option>
                    <option value="3">软件工程师</option>
                    <option value="4">律师</option>
                </select>
            </div>
            <div>
                <span>个人简介:</span>
                <textarea v-model="content"></textarea>
            </div>
            <div>
            <input type="submit" @click.prevent="handle">
            </div>
        </form>
    </div>
    <script>
        var V = new Vue({
            el:"#app",
            data:{
                name:"hjw",
                sex:'1',
                hobby:["1"],
                occupation:["1"],
                content:"12"
            },
            methods:{
                handle:function(event){
                    // console.log(this.name);
                    // console.log(this.sex);
                    // console.log(this.hobby.toString());
                    // console.log(this.occupation.toString());
                    console.log(this.content);
                }
            }
        })
    </script>

</body>

</html>